# Config files (but keep the sample files)
websites/*.yml
# Content files
saved-content/*.current
saved-content/*.old
# Hook files (but keep the sample files)
hooks/*.hook
# Data files (if you use Docker here)
data/
