#!/bin/bash

# Sample hook file
# There's only a 4th parameter if the content has changed

ACTION=$1
CONFIG=$2
CURRENTFILE=$3
OLDFILE=$4

echo "ACTION: $ACTION"
echo "CONFIG: $CONFIG"
echo "OLDFILE: $OLDFILE"
echo "CURRENTFILE: $CURRENTFILE"
sha1sum "$CURRENTFILE"
if [[ "$ACTION" == "changed" ]] ; then
    sha1sum "$OLDFILE"
fi
echo "-----"

